

.eventsBody{
    background: $BaseBlack;
    color: $BaseWhite;
    display: flex;
    height: 100vh;
    width: 100vw;
    

    #sideNav{
        min-height: 100%;
    }
    .eventsMain{
        display: flex;
        width: 100%;
        section{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 30px;
            width: 400px;
            padding: 0px 40px;

            h2{
                font-size: 32px;
                margin: 0px;
                padding: 0px;
            }

            &.upcomingEvents{
                border-right: 1px solid $Neutral700;

                button{
                    all: unset;
                    cursor: pointer;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    // max-width: 300px;
                    background: $Blue500;
                    color: $BaseWhite;
                    box-sizing: border-box;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 14px 10px;
                    border-radius: 8px;
                    transition: background-color 0.2s ease, transform 0.1s ease;

                    &:hover{
                        background: $Blue700;
                    }

                    &:active{
                        background: darken($Blue700, 10%);
                        transform: scale(0.98);
                    }

                    &.hide{
                        display: none;
                    }

                }
                p{
                    all: unset;
                    font-size: 12px;
                }

                #newNoteContainer{
                    .cardContainer{
                        h2{
                            padding-top: 30px;
                        }
                    }
                }
                
            }

            &.pastEvents{
                .pastTitle{
                    padding: 30px 0px;
                }
            }


            .cardContainer{
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2{
                    margin: 0px;
                    padding: 0px;


                    &:focus{
                        border: none;
                        outline: none;
                    }
                }

                .dateContainer{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .errorMsg{
                        color: $Red500;
                    }
                }

                .buttonContainer{
                    display: flex;
                    gap: 15px;

                    .delete{
                        all: unset;
                        padding: 0px 10px;
                        box-sizing: border-box;
                        cursor: pointer;

                        &:hover{
                            .deleteIcon{
                                fill: #FB3748;
                            }
                        }
                        &:active{
                            .deleteIcon{
                                fill: #ffa7ad;
                            }
                        }
                    }
                    &.hide{
                        display: none;
                    }
                }
            }
        }

        .date{
            appearance: none;
            box-sizing: border-box;
            border: 1px solid $Neutral700;
            background: transparent;
            font-size: 1.5rem;
            padding: 8px;
            color: $Neutral300;
            width: 100%;
            &::placeholder{
                color: $Neutral500;
            }
            &:active{
                border: 1px solid $Neutral700;
            }
            
        }
    }
}

