

.eventsBody{
    background: $BaseBlack;
    color: $BaseWhite;
    display: flex;
    min-height: 100vh;
    height: auto;
    

    #sideNav{
        min-height: 100vh;
        // justify-content: flex-start;
        border: none;
        
        .todosHabitsEvents{
            flex: 1;
        }
        .sideNavBtn{
            position: sticky;
            bottom: 0;

        }
    }
    .eventsMain{
        display: flex;
        width: 100%;
        section{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 30px;
            min-width: 415px;
            padding: 0px 40px;

            h2{
                font-size: 32px;
                margin: 0px;
                padding: 0px;
            }

            &.upcomingEvents, &.pastEvents{
                border-right: 1px solid $Neutral700;
                border-left: 1px solid $Neutral700;

                .startContainer, .endContainer{
                    display: flex;
                    align-items: baseline;
                }

                button{
                    all: unset;
                    cursor: pointer;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    // max-width: 300px;
                    background: $Blue500;
                    color: $BaseWhite;
                    box-sizing: border-box;
                    font-size: 14px;
                    font-weight: normal;
                    padding: 14px 10px;
                    border-radius: 8px;
                    transition: background-color 0.2s ease, transform 0.1s ease;

                    &:hover{
                        background: $Blue700;
                    }

                    &:active{
                        background: darken($Blue700, 10%);
                        transform: scale(0.98);
                    }

                    &.hide{
                        display: none;
                    }

                }
                p{
                    all: unset;
                    font-size: 12px;
                    padding-right: 10px;
                }

                #newNoteContainer{
                    .cardContainer{
                        h2{
                            padding-top: 30px;
                        }
                        input{
                            border-radius: 6px;
                        }
                    }
                }
                
            }

            &.pastEvents{
                user-select: none;
                border-left: 0px;
                .pastTitle{
                    padding-top: 30px;
                    opacity: 40%;
                }
                #pastEventsContainer{
                    opacity: 40%;
                    pointer-events: none;
                    .cardBodyContainer:hover {
                       background: transparent;

                       .buttonContainer{
                        display: none;
                       }
                    }
                }
            }

            .date{
                appearance: none;
                box-sizing: border-box;
                border: 1px solid $Neutral700;
                background: transparent;
                font-size: 1.5rem;
                padding: 8px;
                color: $Neutral300;
                width: 100%;
                &::placeholder{
                    color: $Neutral500;
                }
                &:active{
                    border: 1px solid $Neutral700;
                }
                
            }

            .events{
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                .cardContainer{
                    gap: 8px;
                    h2{
                        font-size: 18px;
                    }
                    .dateContainer{
                        gap: 2px;

                        input.date{
                           
                            border: none;
                            background: transparent;
                            font-size: 14px;
                            width: 100%;
                            padding: 4px;
                            padding-left: 6px;

                            &::placeholder{
                                color: $Neutral500;
                            }
                            &:active{
                                border: 1px solid $Neutral700;
                            }
                        }
                    }
                }
            }

            
        }
        .cardContainer{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            border-radius: 6px;

            h2{
                margin: 0px;
                padding: 0px;


                &:focus{
                    border: none;
                    outline: none;
                }
            }

            .dateContainer{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                h2{
                    padding-bottom: 5px;
                }

                p{
                    width: 45px;
                }

                .errorMsg{
                    color: $Red500;
                    width: auto;
                }
            }

            .buttonContainer{
                display: flex;
                gap: 15px;

                .delete, .save{
                    all: unset;
                    padding: 0px 20px;
                    box-sizing: border-box;
                    cursor: pointer;

                    &:hover{
                        .deleteIcon{
                            fill: #FB3748;
                        }
                        .saveIcon{
                            fill: #21C16B;
                        }
                    }
                    &:active{
                        .deleteIcon{
                            fill: #ffa7ad;
                        }
                        .saveIcon{
                            fill: #D1FBE9;
                        }
                    }
                }
            }

            .cardBodyContainer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                padding-right: 0px;
                border-radius: 6px;

                
                
                .buttonContainer{
                    gap: 0px;
                    
                    flex-direction: row;
                    align-self: flex-end;

                    .saveCancel{
                        display: none;
                    }
                    
                    .delete, .save{
                        padding: 10px;
                        padding-bottom: 0px;
                    }
                    
                    .delete{
                        display: none;
                    }

                }
                
                &.adjusting{
                    flex-direction: column;

                    .dateContainer{
                        input.date{
                            width: auto;
                        }
                    }

                    .buttonContainer{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        cursor: pointer;

                        .saveCancel{
                            display: flex;
                            gap: 20px;

                            button{
                                width: 70px;
                                padding: 8px 30px;
                                border-radius: 6px;
                                transition: all 0.3s ease; 


                                &:active{
                                    transform: scale(0.95);
                                }
                            }
                            .cancelBtn{
                                background-color: transparent;
                                border: 1px solid #525866;

                                &:hover {
                                    background-color: rgba(51, 92, 255);
                                    border: none;
                                }
                            }
                            .saveBtn{
                                &:hover {
                                background-color: #1c9b57;
                                border: none;
                                }
                            }
                            
                        }
                        .delete{
                            display: flex;
                            padding: 15px;
                        }
                    }

                }

                &:hover{
                    background: $Neutral900;

                    .delete{
                        display: flex;
                    }
                }

            }
        }
        
    }

    
}

