@import '../partials/variables';
@import "../partials/mixins";

body{
    all: unset;
}

#habitsWrapper{
    background-color: $BaseBlack;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

#habitsMain{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
    width: 100%;
}
hr{
    border: 0.5px solid $Neutral500;
}

#createNew{
    @include blueButton();
}

#moreInfo{
    display: flex;
    padding: 24px;

    #mainDiv{
        @include holderBox();
        flex-direction: column;
        gap: 8px;

        div{
            display: flex;
            justify-content: space-between;

            button{
                @include blueButton();
            }
        }

        input{
            @include inputField();
        }

        select{
            @include inputField();
        }
    }
}

.habitBox{
    @include holderBox();
    width: 400px;
    justify-content: space-between;

    button{
    }
}

.repetitionBox{
    display: flex;
    flex-direction: column;

    .counter{
        display: flex;
        align-items: center;
        gap: 4px;

        button.plus, button.minus{
            width: 20px;
            height: 20px;
        }
    }
}
