<<<<<<< HEAD
#mainDiv {
  border: 1px solid black;
  width: 400px;
  padding: 16px;
}

.habitBox {
  width: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.repetitionBox {
  display: flex;
  flex-direction: column;
}
.repetitionBox .counter {
  display: flex;
  align-items: center;
  gap: 4px;
}
.repetitionBox .counter button.plus, .repetitionBox .counter button.minus {
  width: 20px;
  height: 20px;
=======
:root {
  --BaseWhite: #FFFFFF;
  --BaseBlack: #0E121B;
  --Neutral0: #FFFFFF;
  --Neutral50: #F5F7FA;
  --Neutral100: #F3F5F8;
  --Neutral200: #E0E4EA;
  --Neutral300: #CACFD8;
  --Neutral400: #99A0AE;
  --Neutral500: #717784;
  --Neutral600: #525866;
  --Neutral700: #2B303B;
  --Neutral800: #232530;
  --Neutral900: #191B25;
  --Neutral950: #0E121B;
  --Blue50: #EBF1FF;
  --Blue500: #335CFF;
  --Blue700: #2547D0;
  --Green50: #E0FAEC;
  --Green100: #D1FBE9;
  --Green500: #21C16B;
  --Red50: #FFEBEC;
  --Red100: #FFD5D8;
  --Red500: #FB3748;
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --BaseWhite: #FFFFFF;
  --BaseBlack: #0E121B;
  --Neutral0: #FFFFFF;
  --Neutral50: #F5F7FA;
  --Neutral100: #F3F5F8;
  --Neutral200: #E0E4EA;
  --Neutral300: #CACFD8;
  --Neutral400: #99A0AE;
  --Neutral500: #717784;
  --Neutral600: #525866;
  --Neutral700: #2B303B;
  --Neutral800: #232530;
  --Neutral900: #191B25;
  --Neutral950: #0E121B;
  --Blue50: #EBF1FF;
  --Blue500: #335CFF;
  --Blue700: #2547D0;
  --Green50: #E0FAEC;
  --Green100: #D1FBE9;
  --Green500: #21C16B;
  --Red50: #FFEBEC;
  --Red100: #FFD5D8;
  --Red500: #FB3748;
}

.loginPage {
  background: #2B303B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginPage .loginPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0E121B;
  width: -moz-fit-content;
  width: fit-content;
  padding: 64px 64px;
  border-radius: 42px;
  gap: 15px;
}
.loginPage .loginPageMain .heading h1 {
  color: #EBF1FF;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}
.loginPage .loginPageMain .pleaseLogin {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 16px;
  margin: 0px;
}
.loginPage .loginPageMain .userAuthContianer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  padding-top: 15px;
}
.loginPage .loginPageMain .userAuthContianer .login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}
.loginPage .loginPageMain .userAuthContianer .login div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.loginPage .loginPageMain .userAuthContianer .login div input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background: #0E121B;
  border: 1px solid #717784;
  border-radius: 8px;
  width: 100%;
  color: #FFFFFF;
  padding: 16px;
}
.loginPage .loginPageMain .userAuthContianer .login div #error {
  margin: 0px;
  color: #FB3748;
  font-weight: lighter;
  font-size: 14px;
}
.loginPage .loginPageMain .userAuthContianer .login div #error.success {
  color: #21C16B;
}
.loginPage .loginPageMain .userAuthContianer label {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 18px;
}
.loginPage .loginPageMain .userAuthContianer .buttons {
  display: flex;
  gap: 42px;
  justify-content: space-between;
}
.loginPage .loginPageMain .userAuthContianer .buttons button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #335CFF;
  color: #FFFFFF;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  padding: 14px;
  border-radius: 8px;
}
.loginPage .loginPageMain .userAuthContianer .buttons button:hover {
  cursor: pointer;
}
.loginPage .loginPageMain .userAuthContianer .buttons button:active {
  background: #2547D0;
}
.loginPage .hidden {
  display: none;
}

* {
  font-family: "Inter", sans-serif;
>>>>>>> d0c2b2cfccd1f297c7b6968763de243c72c1b317
}/*# sourceMappingURL=styles.css.map */